
<div class="card m-3" style="min-width:18rem;max-width:30.5%;">
    <div class="card-header">
        <h3>
            @{ string forcheck = "check_" + Employee_index;}
            <input type="checkbox" id="@forcheck" @onchange="onchangeCheckbox" />
            <label for="@forcheck">@Employee.Name</label>
        </h3>
    </div>
    <img class="card-img-bottom  EmployeeImage" src="/Images/@Employee.Photopath" />

    @if (ShowFooter)
    {
        <div class="card-footer text-center">
            <a href="@($"employeedetails/{Employee.Id}")" class="btn btn-primary m-1">View</a>
            <a href="@($"editemployee/{Employee.Id}")" class="btn btn-primary m-1">Edit</a>
            <button type="submit" class="btn btn-danger m-1" @onclick="Delete_click">Delete</button>
        </div>
    }

</div>

<Confirm @ref="DeleteConfirmation" ConfirmationChanged="onconfirm_click" ConfirmationMessage="@($"Are you Sure you want to Delete \\ {Employee.Name}")"></Confirm>


@code
{
    [Parameter]
    public Employee Employee { get; set; }
    [Parameter]
    public bool ShowFooter { get; set; }
    [Parameter]
    public EventCallback<bool> OnEmployeeSelection { get; set; }
    [Parameter]
    public EventCallback<int> OnEmployeeDeleted { get; set; }


    [Parameter]
    public int Employee_index { get; set; } = 0;

    [Inject]
    public IEmployeeService EmployeeService { get; set; }
    [Inject]
    // to navigate to specific url
    NavigationManager NavigationManager { get; set; }

    protected EmployeeManagement.Componets.Confirm  DeleteConfirmation { get; set; }


    // functions 
    public void onchangeCheckbox(ChangeEventArgs e)
    {
        OnEmployeeSelection.InvokeAsync((bool)e.Value);
    }


    protected void Delete_click()
    {
        DeleteConfirmation.show();
    }

    protected async Task onconfirm_click(bool deleteEmployee)
    {
        if (deleteEmployee)
        {
            await EmployeeService.DeleteEmployee(Employee.Id);
            await OnEmployeeDeleted.InvokeAsync(Employee.Id);
        }
    }

    
}

<style>
    .EmployeeImage {
        width: unset;
        height: 50%;
    }
</style>

